# Core Django
Django==6.0.2
asgiref==3.11.1
sqlparse==0.5.5

# Database
psycopg2-binary==2.9.11

# Config
django-environ==0.12.0
python-dotenv==1.2.1

# REST API
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
PyJWT==2.11.0

# Admin
django-unfold

# Media / Images
Pillow==12.1.0

# Frontend helpers
django-cors-headers==4.9.0
bleach==6.2.0
markdown2==2.5.4
Pygments==2.19.2
MarkupSafe==3.0.3

# Timezone
tzdata==2025.3
typing_extensions==4.15.0
